.idea/
.vscode/
*.pyc
examples/data/volumes/appdata/*
!examples/data/volumes/appdata/.keep
examples/data/volumes/appdata1/*
!examples/data/volumes/appdata1/.keep
examples/data/volumes/appdata2/*
!examples/data/volumes/appdata2/.keep
examples/data/volumes/custom-extensions/*
!examples/data/volumes/custom-extensions/.keep